absl-py
appdirs
astor
backports.weakref
bleach
enum34
funcsigs
futures
gast
graphviz
grpcio
h5py
html5lib
Keras
Markdown
mock
numpy
olefile
opencv-python
packaging
pbr
Pillow
protobuf
pydot
pyparsing
PyYAML
scikit-learn
scipy
six
tensorboard
tensorflow-gpu
termcolor
Theano
Werkzeug
